@tailwind base;
@tailwind components;
@tailwind utilities;

.hi-svg-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25rem;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23fafafa' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

* {
    /* fixes color transition delay on chrome and webkit based browser */
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23171717' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    }

    * {
        color: #e5e5e5;
    }
}

.btn * {
    /* fixes buttons after previous fix */
    color: inherit;
}

.markdown ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}

.markdown li {
    margin-bottom: 0.25rem;
}

.markdown li:last-of-type {
    margin-bottom: 0;
}

div.markdown {
    text-align: justify;
}

.markdown p {
    margin-bottom: 1rem;
    text-align: justify;
}

.markdown a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.markdown p:last-of-type {
    margin-bottom: 0;
}

@page {
    size: 210mm 297mm;
    margin: 0;
    margin-top: 17mm;
    margin-bottom: 1.25rem;
}

@page :first {
    margin-top: 0;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .markdown a {
        text-decoration: none;
    }

    /* a:not([href^="#"]):after {
        font-size: 0.5rem;
        content: "(" attr(href) ")";
   } */
}
