@tailwind base;
@tailwind components;
@tailwind utilities;

.hi-svg-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25rem;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23fafafa' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

* {
    /* fixes color transition delay on chrome and webkit based browser */
    color: black;
}

.btn * {
    /* fixes buttons after previous fix */
    color: inherit;
}

.markdown ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}

.markdown li {
    margin-bottom: 0.25rem;
}

l .markdown li:last-of-type {
    margin-bottom: 0;
}

div.markdown {
    text-align: justify;
}

.markdown p {
    margin-bottom: 1rem;
    text-align: justify;
}

.markdown p:last-of-type {
    margin-bottom: 0;
}

.md-title a,
.markdown a {
    text-decoration: underline;
    text-underline-offset: 2px;
}


/* @media (min-width: 640px) {
    .md-title a {
        text-decoration: none;
    }

    .md-title a::after {
        margin-left: 0.5rem;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='0.75rem' fill='currentColor'%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
    }
} */

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23171717' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    }

    * {
        color: #e5e5e5;
    }

    /* .md-title a::after {
        filter: invert(1) brightness(0.9)
    } */
}

@page {
    size: 210mm 297mm;
    margin: 0;
    margin-top: 17mm;
    margin-bottom: 1.25rem;
}

@page :first {
    margin-top: 0;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .markdown a {
        text-decoration: none;
    }

    .md-title a::after {
        content: none;
    }

    /* a:not([href^="#"]):after {
        font-size: 0.5rem;
        content: "(" attr(href) ")";
   } */
}
